.pane {
	-fx-background-image: url('clock.jpg');
    -fx-background-size: cover;
    -fx-padding: 10;
}


Label {
    -fx-text-fill: white;
    -fx-background-color: rgba(65, 198, 56, 0.5) ; 
    -fx-background-radius: 10;
    -fx-font-size: 48;
    -fx-font-style: italic;
    -fx-font-family: serif;
    -fx-padding: 5 50 5 50;
}

Button {
    -fx-background-color: rgba(245,245,205,0.4);
    -fx-background-radius: 10pt;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 5 20 5 20;
}

.red {
	-fx-background-color: rgba(239, 39, 0, 0.5);
}